# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyenv
.python-version

# VSCode
.vscode/

# Pytest
pytest_cache/
.pytest_cache/
*.pyc
__pycache__/

#ruff
.ruff_cache

#mosquitto
mosquitto/data
mosquitto/log
mqtt_subscriber_app/log
